/* All */

* {
    font-family: 'PostNoBillsJaffna';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1em;
    color: white;

    margin: 0;
    padding: 0;
}

body {
    background-color: #353535;
}

header, section {
    border: 1px solid black;
}

/* Center-block */

.center-block {
    margin: auto;
    width: 80%;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;

    background-color: #292929;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 80%;
}

nav * {
    font-size: 32px;

    cursor: pointer;
}